$min-width:1000px;
$border-radius: 3px;
$color: #f10180;
$background-color: #fa2a83;
$transition: border-color .3s cubic-bezier(.39, .575, .565, 1),
background-color .3s cubic-bezier(.39, .575, .565, 1);
@mixin background($url, $x: 0, $y: 0, $repeat: no-repeat) {
    background: {
        image: $url;
        repeat: $repeat;
        position: $x $y;
    }
}

@import "header.scss";
@import "footer.scss";
#header-nav header #header .search {
    width: 391px;
    form input {
        width: 335px;
    }
}

#header-nav .menus nav>li {
    padding: 0 9px;
}

#main {
    width: 100%;
    min-width: $min-width;
    overflow: hidden;
    .main {
        width: $min-width;
        padding-top: 22px;
        margin: 0 auto;
        margin-bottom: 40px;
        overflow: hidden;
        .fw-l {
            width: 420px;
            float: left;
            >img {
                width: 420px;
                height: 420px;
                background-position: center;
            }
            .pic-slider {
                margin-top: 4px;
                >img {
                    width: 64px;
                    height: 64px;
                    margin-right: 4px;
                    border: 1px solid transparent;
                    &:hover {
                        border-color: #f10180;
                    }
                    &:last-of-type {
                        margin-right: 0px;
                    }
                }
            }
            .txt {
                line-height: 20px;
                color: #999;
                padding: 12px 0;
                font-size: 12px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                border-bottom: 1px #e2e2e2 dashed;
                p {
                    float: left;
                }
                >span:last-of-type {
                    padding: 0 9px;
                    height: 24px;
                    line-height: 24px;
                    float: right;
                    display: block;
                    border: solid 1px #c2c2c2;
                    border-radius: 2px;
                    text-align: center;
                    background: #fafafa;
                    cursor: pointer;
                    i {
                        display: inline-block;
                        width: 15px;
                        height: 12px;
                        margin-right: 2px;
                        background: url(../img/detail-zh2.png) no-repeat;
                        background-position: -16px -19px;
                    }
                    position: relative;
                    &::after {
                        content: '';
                        width: 0;
                        height: 0;
                        display: inline-block;
                        position: absolute;
                        border: solid 3px transparent;
                        _border-color: #fff;
                        border-top-color: #999;
                        margin-left: 2px;
                        top: 10px;
                        right: 5px;
                    }
                }
            }
            .pz {
                padding: 15px 0;
                overflow: hidden;
                position: relative;
                width: 420px;
            }
        }
        .fw-r {
            float: left;
            padding-left: 30px;
            >a {
                color: #007cff;
                width: 340px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                display: block;
                font-size: 16px;
                cursor: pointer;
                line-height: 22px;
                min-height: 22px;
                &:hover {
                    cursor: $color;
                }
            }
            h3 {
                width: 550px;
                font-size: 16px;
                color: #333;
                max-height: 40px;
                overflow: hidden;
                line-height: 20px;
                margin-top: 8px;
                margin-bottom: 8px;
                font-weight: 700;
            }
            >p {
                color: #fff;
                width: 550px;
                height: 45px;
                line-height: 45px;
                background-color: #f76568;
                font-size: 16px;
                padding-left: 20px;
                >span {
                    float: right;
                    width: auto;
                    height: 28px;
                    line-height: 28px;
                    text-align: center;
                    margin-right: 17px;
                    margin-top: 8px;
                    padding: 0 16px;
                    border-radius: 3px;
                    border: solid 1px #fff;
                }
            }
            .price-box {
                width: 100%;
                background: #f9f9f9;
                margin-bottom: 20px;
                font-size: 20px;
                color: #333;
                line-height: 1.2;
                padding-left: 20px;
                overflow: hidden;
                i {
                    float: left;
                    margin-top: 37px;
                }
                p {
                    float: left;
                    font-weight: 400;
                    font-size: 48px;
                    margin-top: 10px;
                }
                >div {
                    color: #999;
                    font-size: 16px;
                    margin-top: 37px;
                    del {
                        text-decoration: line-through;
                        margin: 0 12px;
                    }
                }
            }
            .J-cartAdd-frm {
                overflow: hidden;
                .dldt {
                    padding: 12px 11px 0;
                    position: relative;
                    margin-left: -11px;
                    min-height: 40px;
                    overflow: hidden;
                }
                .i-num {
                    padding: 11px 10px 11px 0;
                    margin-right: -10px;
                    padding-bottom: 10px;
                }
                >p {
                    color: #f40080;
                    margin-left: 40px;
                    a {
                        color: #007cff;
                    }
                }
                dl {
                    width: 100%;
                    overflow: hidden;
                    dt {
                        float: left;
                        font-size: 12px;
                        width: 40px;
                        text-align: left;
                        color: #999;
                        line-height: 32px;
                        overflow: hidden;
                    }
                    .delivery {
                        width: 250px;
                        border: 1px solid #ccc;
                        cursor: pointer;
                        background-color: #fff;
                        position: relative;
                        height: 30px;
                        line-height: 30px;
                        padding: 0 35px 0 10px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        margin-bottom: 5px;
                        span {
                            position: absolute;
                            right: 10px;
                            top: 3px;
                            color: #b3b3b3;
                            font-size: 12px;
                        }
                    }
                    >span {
                        line-height: 32px;
                        color: #333;
                    }
                    ul {
                        li {
                            float: left;
                            position: relative;
                            min-width: 30px;
                            max-width: 358px;
                            height: 30px;
                            font-size: 12px;
                            padding: 1px 20px;
                            margin: 0 10px 10px 0;
                            border: 1px solid #ccc;
                            text-align: center;
                            line-height: 26px;
                            cursor: pointer;
                            background-color: #fff;
                            &:hover {
                                border-color: $color;
                            }
                        }
                    }
                    >p {
                        width: 73px;
                        height: 32px;
                        border: 1px solid #b3b3b3;
                        color: #333;
                        text-align: center;
                        background-color: #fff;
                        float: left;
                        line-height: 30px;
                        >i {
                            width: 21px;
                            height: 30px;
                            display: inline-block;
                            color: #7d7c7c;
                            background-color: #f9f8f8;
                            font-size: 21px;
                            cursor: pointer;
                            user-select: none;
                            &:first-of-type {
                                float: left;
                            }
                            &:last-of-type {
                                float: right;
                            }
                        }
                        >em {
                            width: 29px;
                            font-size: 12px;
                            border-left: 1px solid #e4e3e3;
                            border-right: 1px solid #e4e3e3;
                            overflow: hidden;
                            display: inline-block;
                            font-weight: 500;
                        }
                        .ion {
                            background-color: #f9f8f8;
                            color: #dad8d8;
                        }
                    }
                    >a {
                        margin: 20px 0px 42px 40px;
                        width: 200px;
                        height: 50px;
                        display: block;
                        background-color: #f10180;
                        border: 1px solid #f10180;
                        border-radius: 3px;
                        text-align: center;
                        line-height: 48px;
                        font-size: 18px;
                        color: #fff;
                        &:hover {
                            transition: .3s;
                            background-color: #f43499;
                            border-color: #f43499;
                        }
                        >span {
                            font-size: 22px;
                            margin-right: 10px;
                        }
                    }
                }
            }
            .other-form-box {
                border-top: 1px dashed #e6e6e6;
                padding-top: 10px;
                dl {
                    width: 100%;
                    overflow: hidden;
                    margin-bottom: 15px;
                    &:last-of-type>dt {
                        height: 100px;
                    }
                    dt {
                        float: left;
                        color: #999;
                        margin-right: 10px;
                        margin-top: 2px;
                    }
                    >i {
                        width: 18px;
                        height: 15px;
                        background: url(../img/detail-zh1.png) no-repeat;
                        background-position: -165px -170px;
                        display: inline-block;
                        margin-right: 3px;
                    }
                    span {
                        margin-bottom: 15px;
                        color: #999;
                        text-decoration: none;
                    }
                    ul {
                        width: 480px;
                        li {
                            height: 25px;
                            line-height: 18px;
                            float: left;
                            margin-right: 10px;
                            font-size: 12px;
                            color: #666;
                            cursor: pointer;
                            vertical-align: middle;
                            i {
                                width: 16px;
                                height: 25px;
                                display: block;
                                float: left;
                                line-height: 25px;
                                background: url(../img/detail-zh1.png) no-repeat;
                                background-position: -627px -190px;
                                margin: 0 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}